<!-- Баннер слайдер внутренних страниц  по умолчанию по центру справа-->
<!-- Класс для баннера справа: inner-banner__wrap--right -->
<!-- Отличается только одним классом если нужно разместить текст справа или сверху на планшете -->
<section class="inner-banner">
    <div class="swiper-container swiper-container--banner swiper-container--anim1">

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="inner-banner__img inner-banner__img--mobile lazyload" data-src="./img/hero-inner/banner-mobile.jpg" alt="" loading="lazy">
                <img class="inner-banner__img inner-banner__img--tablet lazyload" data-src="./img/hero-inner/banner-tablet.jpg" alt="" loading="lazy">
                <img class="inner-banner__img inner-banner__img--laptop lazyload" data-src="./img/hero-inner/banner-desktop.jpg" alt="" loading="lazy">
                <img class="inner-banner__img inner-banner__img--desktop lazyload" data-src="./img/hero-inner/banner-desktop.jpg" alt="" loading="lazy">

                <div class="container">
                    <div class="inner-banner__wrap">
                        <h3 class="inner-banner__title simplefade" style="transition-delay: 1.2s;">у нас безопасно!</h3>
                        <p class="inner-banner__desc simplefade" style="transition-delay: 1.4s;">Меры по профилактики<br>Covid-19</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img class=" inner-banner__img inner-banner__img--mobile lazyload" data-src="./img/hero-inner/banner-mobile2.jpg" alt="" loading="lazy">
                <img class=" inner-banner__img inner-banner__img--tablet lazyload" data-src="./img/hero-inner/banner-tablet2.jpg" alt="" loading="lazy">
                <img class=" inner-banner__img inner-banner__img--laptop lazyload" data-src="./img/hero-inner/banner-desktop2.jpg" alt="" loading="lazy">
                <img class=" inner-banner__img inner-banner__img--desktop lazyload" data-src="./img/hero-inner/banner-desktop2.jpg" alt="" loading="lazy">

                <div class="container">
                    <div class="inner-banner__wrap inner-banner__wrap--right">
                        <h3 class="inner-banner__title simplefade" style="transition-delay: 1.2s;">Подарок на День<br> Рождения!</h3>
                        <p class="inner-banner__desc simplefade" style="transition-delay: 1.4s;">Скидка 15% на все виды услуг</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <img class=" inner-banner__img inner-banner__img--mobile lazyload" data-src="./img/hero-inner/banner-mobile2.jpg" alt="" loading="lazy">
                <img class=" inner-banner__img inner-banner__img--tablet lazyload" data-src="./img/hero-inner/banner-tablet2.jpg" alt="" loading="lazy">
                <img class=" inner-banner__img inner-banner__img--laptop lazyload" data-src="./img/hero-inner/banner-desktop2.jpg" alt="" loading="lazy">
                <img class=" inner-banner__img inner-banner__img--desktop lazyload" data-src="./img/hero-inner/banner-desktop2.jpg" alt="" loading="lazy">

                <div class="container">
                    <div class="inner-banner__wrap inner-banner__wrap--right">
                        <p class="inner-banner__desc simplefade" style="transition-delay: 1.2s;">Специальное предложение</p>
                        <h3 class="inner-banner__title simplefade" style="transition-delay: 1.4s;">Познакомтесь
                            <br> с DL Clinic!</h3>

                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>