<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monte Print</title>
    <link rel="stylesheet" href="./css/style.min.css?v=1">

</head>

<body id="up">
    <div class="overlay"></div>
    <header class="header {{ class }}">
        <div class="container">
            <div class="header__wrap">
                <button class="burger cross"><span class="middle"></span></button>
                <a class="header__logo" href="">
                    <img src="./img/logo.svg" alt="">
                </a>
                <nav class="header__nav">

                    <ul class="header__nav-list">
                        <li>
                            <a href="">О компании</a>

                        </li>
                        <li>
                            <a href="">Услуги</a>
                        </li>
                        <li>
                            <a href="">Портфолио</a>

                        </li>
                        <li>
                            <a href="">Клиенты</a>
                        </li>
                        <li>
                            <a href="">Контакты</a>
                        </li>

                    </ul>

                    <a class="button tablets" href="#form">Оставить заявку</a>
                </nav>


                <div class="header__column">
                    <a href="tel:+78129200677">+7 (812) 920-06-77</a>

                    <a class="button" href="#form">Оставить заявку</a>
                </div>

            </div>



        </div>

    </header>