<ul class="portfolio ">
    <li class="portfolio__item ">
        <a href=" ">
            <img src="./img/portfolio/1.jpg " alt=" ">
        </a>
    </li>
    <li class="portfolio__item ">
        <a href=" ">
            <img src="./img/portfolio/2.jpg " alt=" ">
        </a>
    </li>
    <li class="portfolio__item ">
        <a href=" ">
            <img src="./img/portfolio/3.jpg " alt=" ">
        </a>
    </li>
    <li class="portfolio__item ">
        <a href=" ">
            <img src="./img/portfolio/4.jpg " alt=" ">
        </a>
    </li>
    <li class="portfolio__item ">
        <a href=" ">
            <img src="./img/portfolio/5.jpg " alt=" ">
        </a>
    </li>
    <li class="portfolio__item ">
        <a href=" ">
            <img src="./img/portfolio/6.jpg " alt=" ">
        </a>
    </li>
</ul>