<section class="tariff">
    <div class="container">
        <ul class="tariff__list">
            <li class="tariff__item tariff__item--silver">
                <svg viewBox="0 0 467 243" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 150.33V0H467V192.691L313.342 243L0 150.33Z" fill="url(#paint1_linear)"/>
                    <defs>
                    <linearGradient id="paint1_linear" x1="233.5" y1="0" x2="233.5" y2="222.117" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#D9E5E8"/>
                    <stop offset="1" stop-color="#858C9C"/>
                    </linearGradient>
                    </defs>
                </svg>

                <span class="tariff__label">программа</span>
                <h2>Silver</h2>
                <p>Если у вас есть эскиз, то наш дизайнер воплотит в жизнь одну любую вашу идею! Вы получаете готовый логотип по вашему эскизу.</p>

                <span class="tariff__price">4 000 Р</span>

                <a class="button button--filled" href="#form"><span>заказать 1 вариант</span></a>
            </li>

            <li class="tariff__item tariff__item--gold">
                <svg viewBox="0 0 467 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 160.71V0H467V198.783L313.342 244L0 160.71Z" fill="url(#paint2_linear)"/>
                    <defs>
                    <linearGradient id="paint2_linear" x1="233.5" y1="25.5944" x2="233.5" y2="225.231" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F9DB8C"/>
                    <stop offset="1" stop-color="#AD851E"/>
                    </linearGradient>
                    </defs>
                </svg>


                <span class="tariff__label">программа</span>
                <h2>Gold</h2>
                <p>Вы получаете три концепции на выбор, среди которых выбираете одну. Один вариант дорабатывается согласно вашим комментариям.</p>

                <span class="tariff__price">12 000 Р</span>

                <a class="button button--filled" href="#form"><span>заказать 1 вариант</span></a>
            </li>
            <li class="tariff__item tariff__item--platinum">
                <svg viewBox="0 0 467 243" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 150.33V0H467V192.691L313.342 243L0 150.33Z" fill="url(#paint3_linear)"/>
                    <defs>
                    <linearGradient id="paint3_linear" x1="233.5" y1="0" x2="233.5" y2="222.117" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#A5AAC7"/>
                    <stop offset="1" stop-color="#333D54"/>
                    </linearGradient>
                    </defs>
                    </svg>




                <span class="tariff__label">программа</span>
                <h2>Platinum</h2>
                <p>Вы получаете пять концепций на выбор, среди которых выбираете одну. Один выбранный вариант дорабатывается согласно вашим комментариям.</p>

                <span class="tariff__price">16 000 Р</span>

                <a class="button button--filled" href="#form"><span>заказать 3 вариант</span></a>
            </li>
        </ul>
    </div>
</section>