.breadcrumbs {
    @include list-destroy;
    display: flex;
    padding-top: 30px;
    margin-bottom: 45px;
    flex-wrap: wrap;
    & li {
        position: relative;
        color: $color-black;
        padding-right: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        &>span {
            color: $color-grey;
        }
        &:not(:first-child) {
            padding-left: 10px;
        }
        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                width: 14px;
                height: 7px;
                top: 50%;
                transform: translateY(-50%);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z' fill='%23333333'/%3E%3C/svg%3E%0A");
                right: 0;
            }
        }
        // & a>span {
        //     color: $color-black;
        // }
        @include mobile {
            // &:nth-child(3) {
            //     padding-left: 0;
            // }
            &:nth-child(3) {
                display: none;
            }
            &:nth-child(2)::before {
                display: none;
            }
        }
    }
}