                .open .header {
                    transform: translate(0px)!important;
                }
                
                .burger {
                    @include btn-destroy;
                    width: 2em;
                    height: 2em;
                    display: inline-block;
                    position: relative;
                    transition: all 0.4s ease-in-out;
                    transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
                    display: none;
                    @include tablets {
                        display: block;
                    }
                }
                
                .burger .middle {
                    left: -0.25em;
                    top: 50%;
                    width: 2.5em;
                    height: 0.25em;
                    position: absolute;
                    margin-top: -0.15em;
                    display: inline-block;
                    transition: all 0.4s ease-in-out;
                    background: $color-green;
                    box-shadow: 1.5em 0px 0px -3px $color-lg-green inset;
                }
                
                .burger:after,
                .burger:before {
                    content: "";
                    width: 2.5em;
                    height: 0.25em;
                    left: -0.25em;
                    position: absolute;
                    background: $color-green;
                    box-shadow: 1.5em 0px 0px -3px $color-lg-green inset;
                    transform-origin: 50% 50% 0;
                    transition: all 0.4s ease-in-out;
                }
                
                .burger:after {
                    bottom: 0;
                }
                
                .burger:before {
                    top: 0;
                }
                
                .open .burger.cross .middle,
                .open .burger.cross:after,
                .open .burger.cross:before {
                    background: $color-lg-green;
                }
                
                .open .burger.cross .middle {
                    opacity: 0;
                }
                
                .open .burger.cross:after {
                    bottom: 0.85em;
                    transform: rotate(135deg);
                }
                
                .open .burger.cross:before {
                    top: 0.85em;
                    transform: rotate(45deg);
                }
                
                // Бургер
                .header {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    left: 0;
                    overflow: hidden;
                    z-index: 1001;
                    box-sizing: border-box;
                    // transition: $transition-speed;
                    transition-property: transform, background-color;
                    color: $color-white;
                    &--inner {
                        background: $color-black;
                    }
                    &__wrap {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 20px 0px;
                        // transition: $transition-speed;
                        @include tablets {
                            padding: 10px 0px;
                            justify-content: flex-start;
                        }
                    }
                    &__logo {
                        & img {
                            max-width: 182px;
                            // transition: $transition-speed;
                            @include tablets {
                                max-width: 122px;
                            }
                            @include tablets {
                                max-width: 75px;
                            }
                        }
                        @include tablets {
                            margin-left: 30px;
                            margin-right: auto;
                        }
                    }
                    &__column {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        & .button {
                            margin-top: 5px;
                            margin-bottom: 5px;
                            @include tablets {
                                margin-top: 5px;
                                margin-bottom: 5px;
                                display: none;
                            }
                            @include mobile {
                                display: none;
                            }
                        }
                    }
                    &__nav {
                        height: 100%;
                        @include tablets {
                            transform: translateX(200%);
                            transition: $transition-speed;
                            transition-property: transform;
                            position: absolute;
                            width: 100%;
                            padding-bottom: 150px;
                            height: auto;
                            min-height: 100vh;
                            overflow: auto;
                            top: 100%;
                            left: 0;
                            // z-index: -1;
                            z-index: 11;
                            // background: rgba(0, 0, 0, 0.6);
                            justify-content: center;
                            align-items: center;
                            & .button {
                                display: flex !important;
                                max-width: 223px;
                                margin: 0 auto
                            }
                        }
                    }
                    &__nav-list {
                        @include list-destroy;
                        @include p-style;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 100%;
                        @include tablets {
                            flex-direction: column;
                            justify-content: flex-start;
                            margin-top: 80px;
                            height: 100%;
                        }
                        &>li {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            position: relative;
                            color: $color-white;
                            @include tablets {
                                height: auto;
                            }
                            &>a {
                                height: 100%;
                                padding: 20px 20px;
                                display: flex;
                                font-style: normal;
                                font-weight: bold;
                                text-transform: uppercase;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                @include tablets {
                                    height: auto;
                                }
                            }
                        }
                    }
                }
                
                .overlay {
                    transition: $transition-speed;
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    transform: translateX(200%);
                    z-index: 10;
                    opacity: 0;
                    background: rgba(0, 0, 0, 0.6);
                }
                
                .open .overlay {
                    opacity: 1;
                    transform: translateX(0%);
                }
                
                .open .header__nav {
                    transform: translateX(0%);
                }
                
                .open .header {
                    overflow: visible;
                    background-color: $color-black;
                }
                
                .htmlscroll .header {
                    background-color: $color-black;
                }
                
                .htmlscroll .header__wrap {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                
                .htmlscroll .header__logo img {
                    max-width: 120px;
                    @include tablets {
                        max-width: 75px;
                    }
                    @include mobile {
                        max-width: 75px;
                    }
                }